.mainPart{
    height: 800px;
    width: 800px;
    overflow: hidden;
    margin: 0 auto;
}

.black{
    background-color: rgba(0, 0, 0, 0.5);
}

.deskBlock{
    width: 80px;
    height: 80px;
    float: left;
}

.text{
    text-align: center;
    font-size: 80px;
}

.textFigure{
    text-align: center;
    font-size: 70px;
    line-height: 1.3;
}

.galleryWrapper__screen{
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    opacity: 0.8;
    position: fixed;
    top: 0;
    z-index: 100;
    display: block;
    text-align: center;
  }
  .galleryWrapper__image {
    max-height: 80%;
    max-width: 80%;
    z-index: 101;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
  .galleryPreviewsContainer img:hover,
  .galleryWrapper__close:hover {
      cursor: pointer;
  }
  .galleryWrapper__close {
    z-index: 101;
    position: absolute;
    top: 0;
    right: 0;
  }